<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tree - Translate</title>
    <script
      src="https://kit.fontawesome.com/88c947a972.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../static/css/style.css" />
    <script src="../static/js/script.js" defer></script>
  </head>
  <body>
    <nav>
      <div class="nav__container">
        <div class="nav__menu-bar">
          <a href="/"> Idiom Translate Project</a>
        </div>
        <button class="nav__btn">
          <i class="fas fa-bars"></i>
        </button>
      </div>
      <ul class="nav__menu">
        <li class="nav__menu__item" data-link="#main">Home</li>
        <li class="nav__menu__item" data-link="#about">About</li>
        <a href="https://github.com/itisused/2021_NLP_Project" target="_blank">
          <li class="nav__menu__item">GitHub</li>
        </a>
      </ul>
    </nav>
    <header id="main">
      <img src="../static/img/Tree.gif" alt="logo" id="logo" />
    </header>
    <main>
      <div class="main__container">
        <div class="main__text-box">
          <form action="/translate" , method="post">
            <textarea
              name="kor"
              id="input-kor"
              placeholder="번역할 문장을 입력하세요."
            >
{{origText}}</textarea
            >
            <button class="translate_btn">Translate</button>
          </form>
        </div>
        <div class="main__text-box">
          <div class="loading_box">
            <img src="../static/img/loading.gif" alt="loading" id="loading" />
          </div>
          <div class="translate-text">{{translatedText}}</div>
        </div>
      </div>
    </main>

    <!-- Arrow up -->
    <button class="arrow-up">
      <i class="fas fa-arrow-up"></i>
    </button>
  </body>
</html>
