/* Global */
:root {
  /* Color */
  --color-pink: #f8bcc6;
  --color-light-blue: #bbcde8;
  --color-white: #f2f9fd;
}

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  height: 70vh;
}

header {
  text-align: center;
}

img {
  width: 20%;
}

main {
  height: 100%;
}

.container {
  background-color: var(--color-white);
  display: flex;
  /* border: 1px solid black; */
  height: 100%;
  justify-content: space-between;
  padding: 164px;
}

.text-box {
  width: 630px;
  height: 440px;
  border: 1px solid var(--color-light-blue);
  border-radius: 20px;
}

form {
  height: 100%;
}

#input-kor {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 20px;
  padding: 20px;
  font-size: 20px;
}

#input-kor::placeholder {
  font-size: 20px;
}

.text-box:first-child {
  position: relative;
}

.text-box:last-child {
  background-color: #e5e5e554;
  padding: 20px;
  font-size: 20px;
}

button {
  width: 256px;
  height: 131px;
  background-color: white;
  position: absolute;
  top: 33%;
  right: -47%;
  font-size: 30px;
  color: var(--color-pink);
  border: none;
  box-shadow: 5px 5px 10px 3px lightgray;
  cursor: pointer;
}
