/* Global */
:root {
  /* Color */
  --color-main: #15d71c;
  --color-black: #00000041;
  --color-white: white;

  /* Font Size */
  --font-text-size: 24px;
}

* {
  box-sizing: border-box;
}

button {
  border: none;
  cursor: pointer;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  cursor: default;
}

/* Navbar */
nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--color-white);
  height: 70px;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.nav__container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.nav__menu-bar {
  color: white;
  font-size: 30px;
  font-weight: 600;
  line-height: 70px;
  /* margin-left: 10px; */
}

.nav__btn {
  background-color: transparent;
  font-size: 30px;
  color: black;
  /* margin-right: 10px; */
}

.nav__menu {
  margin: 0;
  width: 100%;
  display: none;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
}

.nav__menu.open {
  display: flex;
}

.nav__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  font-size: 20px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 5px;
  color: black;
}

.nav__menu__item:hover {
  border: 1px solid var(--color-white);
  background-color: var(--color-main);
  color: white;
}

/* Header */
header {
  text-align: center;
}

#logo {
  margin-top: 70px;
  width: 300px;
}

/* Main */
.main__container {
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
}

.main__text-box {
  width: 600px;
  height: 300px;
  border: 1px solid var(--color-black);
  border-radius: 5px;
  margin: 10px;
  margin-top: 0;
}

form {
  width: 100%;
  height: 100%;
}

#input-kor {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 5px;
  padding: 20px;
  font-size: var(--font-text-size);
  resize: none;
}

#input-kor::placeholder {
  font-size: var(--font-text-size);
}

#input-kor:focus {
  outline-color: var(--color-main);
}

.main__text-box:first-child {
  position: relative;
}

.main__text-box:last-child {
  background-color: var(--color-white);
  padding: 20px;
  font-size: var(--font-text-size);
  position: relative;
  display: flex;
  margin-bottom: 100px;
}

.translate_btn {
  width: 134px;
  height: 64px;
  background-color: var(--color-main);
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 25px;
  color: white;
  border-radius: 5px;
  /* z-index: -1; */
}

.translate_btn:hover {
  opacity: 60%;
  transition: background-color 0.1s ease-out;
}

.loading_box {
  opacity: 0;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -40px;
}

.loading_box.visible {
  opacity: 1;
}

#loading {
  width: 100%;
}

.translate-text {
  position: absolute;
  top: 20px;
}

footer {
  height: 90vh;
}

/* Scroll */
.arrow-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 70px;
  height: 70px;
  font-size: 50px;
  color: var(--color-white);
  background-color: var(--color-black);
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease-in;
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}

@media screen and (max-width: 960px) {
  .main__container {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .main__text-box {
    width: 100%;
    height: 100%;
  }
}
